<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WebDevESGI</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link href="app.css" media="screen" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>WebDevESGI</h1>
        <ul class="menu">
          <li><a href="#" data-page="home">Home</a></li>
          <li><a href="#" data-page="nextEvent">Next event</a></li>
          <li><a href="#" data-page="pastEvents">Past events</a></li>
          <li><a href="#" data-page="submitEvent">Submit event</a></li>
          <li><a href="#" data-page="about">About</a></li>
        </ul>
      </header>
      <div class="page">
        <h2>Work in progress<br>...</h2>
        <div class="no-idea"></div>
      </div>
      <footer></footer>
    </div>

    <script type="text/template" id="event-list">
      <thead>
        <tr>
          <th>Title</th>
          <th>Created At</th>
        </tr>
      </thead>
      <tbody></tbody>
    </script>

    <script type="text/template" id="event-template">
      <td><%= title %></td>
      <td><%= created_at.toDateString() %></td>
    </script>

    <!-- Scripts -->

    <!-- Libs -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
    <script src="bower_components/marionette/lib/backbone.marionette.js"></script>

    <!-- Application -->
    <script src="scripts/app.js"></script>
    <script src="scripts/entities/event.js"></script>
    <script src="scripts/app/events/list/list_view.js"></script>
    <script src="scripts/app/events/list/list_controller.js"></script>
    <script src="scripts/launcher.js"></script>
  </body>
</html>
