@media only screen and (min-width: 979px) {
  @font-face {
    font-family: 'Cantora One';
    font-style: normal;
    font-weight: 400;
    src: local('Cantora One'), local('CantoraOne-Regular'), url(../fonts/Cantora-One.woff) format('woff');
  }
}